[submodule "medicalCardApp-UI"]
	path = medicalCardApp-UI
	url = https://github.com/Carcair/medicalCardApp-UI
[submodule "medicalCardApp"]
	path = medicalCardApp
	url = https://github.com/Carcair/medicalCardApp
